[Desktop Entry]
Version=1.0
Type=Application
Name=Network Neighborhood
Comment=
Exec=thunar
Icon=gnome-netstatus-idle
Path=
Terminal=false
StartupNotify=false
