// https://yalter.github.io/niri/Configuration:-Introduction

layout {
	// https://yalter.github.io/niri/Configuration:-Layout

	gaps 8
	struts {
		// left 12
		// right 12
		// top 12
		// bottom 12
	}

	center-focused-column "never" // never, always, on-overflow

	preset-column-widths {
		proportion 0.33333
		proportion 0.5
		proportion 0.66667
		proportion 1.0
		// fixed 1920
	}
	preset-window-heights {
		proportion 0.33333
		proportion 0.5
		proportion 0.66667
		proportion 1.0 // todo: custom script that does reset instead of 1.0
	}
	default-column-width { proportion 0.5; }
	// default-column-width {} // windows decide themselves when empty

	focus-ring {
		off
		width 3
		active-color "#7fc8ff"
		inactive-color "#505050"
		// active-gradient from="#e5989b" to="#ffb4a2" angle=45 relative-to="workspace-view" in="oklch longer hue"
		// inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
	}
	border {
		// off
		width 3
		active-color "hsl(205, 0.6, 0.4)" // "hsl(205, 1.0, 0.55)"
		inactive-color "hsl(0, 0, 0.5)"
		urgent-color "hsl(0, 0.5, 0.5)"
	}
	
	// make this wider, then make part of it invisible via custom gradient, to increase size of hitbox
	tab-indicator {
		width 5
		gap -4
		length total-proportion=0.7
		corner-radius 8
		gaps-between-tabs 50
		position "left"
		// place-within-column
		inactive-color "hsl(205, 0.6, 0.55)"
		active-color "hsl(0, 0, 0.8)"
		urgent-color "hsl(0, 0.5, 0.5)"
	}

	insert-hint {
		// off
		color "hsl(205, 1.0, 0.55)"
		// gradient from="hsl(205, 0.6, 0.55)" to="hsl(205, 0.6, 0.55, 0)" angle=90 relative-to="workspace-view"
	}
	
	shadow {
		// on
		softness 30
		spread 5
		offset x=0 y=5
		color "#0007"
		// draw-behind-window true
	}

	background-color "#222"
}

prefer-no-csd

// spawn-at-startup "waybar"
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"
spawn-sh-at-startup "systemctl --user restart xremap"

animations {
	// https://yalter.github.io/niri/Configuration:-Animations
	// off
	slowdown 0.75
}

window-rule {
	// https://yalter.github.io/niri/Configuration:-Window-Rules
	geometry-corner-radius 8
	clip-to-geometry true
	// draw-border-with-background true
}

window-rule {
	match app-id=r#"firefox$"# title="^Picture-in-Picture$"
	open-floating true
}

/- window-rule {
	match app-id=r#"^org\.keepassxc\.KeePassXC$"#
	match app-id=r#"^org\.gnome\.World\.Secrets$"#

	block-out-from "screen-capture"
	// block-out-from "screencast" // allow visibility on third-party screenshotters
}

window-rule {
	match app-id=r#"^com.moonlight_stream.Moonlight$"#
	open-fullscreen true
}

hotkey-overlay { skip-at-startup; }
screenshot-path null // "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png" // strftime(3)

binds {
	// `niri msg action do-something`

	Mod+Tab repeat=false { toggle-overview; }

	Mod+Q   repeat=false { close-window; }
	Mod+F                { maximize-column; }
	Mod+C                { toggle-column-tabbed-display; }
	Mod+V                { switch-focus-between-floating-and-tiling; }
	// Mod+V             { toggle-window-floating; }
	
	Mod+Shift+F          { fullscreen-window; }
	Mod+Ctrl+F           { expand-column-to-available-width; }
	
	// Window presets
	
	Mod+Backslash              { switch-preset-column-width; }
	Mod+Shift+Backslash        { switch-preset-window-height; }
	Mod+Ctrl+Backslash         { reset-window-height; }
	
	Mod+MouseMiddle            { switch-preset-column-width; }
	Mod+Shift+MouseMiddle      { switch-preset-window-height; }
	Mod+Ctrl+MouseMiddle       { reset-window-height; }
	
	// Window/focus movement
	
	Mod+Up               { focus-window-up; }
	Mod+Down             { focus-window-down; }
	Mod+Left             { focus-column-left; }
	Mod+Right            { focus-column-right; }
	Mod+Home             { focus-column-first; }
	Mod+End              { focus-column-last; }

	Mod+Shift+Up         { move-window-up; }
	Mod+Shift+Down       { move-window-down; }
	Mod+Shift+Left       { move-column-left; }
	Mod+Shift+Right      { move-column-right; }
	Mod+Shift+Home       { move-column-to-first; }
	Mod+Shift+End        { move-column-to-last; }
	
	Mod+Ctrl+Left        { consume-or-expel-window-left; }
	Mod+Ctrl+Right       { consume-or-expel-window-right; }
	Mod+Comma            { consume-window-into-column; } // consume from right
	Mod+Period           { expel-window-from-column; } // expel to right
	
	// Window focus/movement (mouse)
	
	Mod+MouseForward                               { focus-window-up; }
	Mod+MouseBack                                  { focus-window-down; }
	Mod+WheelScrollLeft                            { focus-column-left; }
	Mod+WheelScrollRight                           { focus-column-right; }
	Mod+WheelScrollUp                              { focus-column-left; }
	Mod+WheelScrollDown                            { focus-column-right; }
	
	Mod+Shift+MouseForward                         { move-window-up; }
	Mod+Shift+MouseBack                            { move-window-down; }
	Mod+Shift+WheelScrollLeft                      { move-column-left; }
	Mod+Shift+WheelScrollRight                     { move-column-right; }
	Mod+Shift+WheelScrollUp                        { move-column-left; }
	Mod+Shift+WheelScrollDown                      { move-column-right; }
	
	// Workspace focus/movement
	
	Mod+Ctrl+Up cooldown-ms=150                    { focus-workspace-up; }
	Mod+Ctrl+Down cooldown-ms=150                  { focus-workspace-down; }
	
	Mod+Ctrl+WheelScrollUp         cooldown-ms=150 { focus-workspace-up; }
	Mod+Ctrl+WheelScrollDown       cooldown-ms=150 { focus-workspace-down; }
	Mod+Ctrl+Shift+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }
	Mod+Ctrl+Shift+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
	
	Mod+Escape              allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; } // ungrab
	Mod+Shift+Slash                                { show-hotkey-overlay; }
	Ctrl+Alt+Delete                                { quit; }
}

gestures {
	hot-corners { bottom-right; }
}

clipboard { disable-primary; }

input {
  // https://yalter.github.io/niri/Configuration:-Input
  
	// warp-mouse-to-focus
	// focus-follows-mouse max-scroll-amount="0%"
}

recent-windows {
	open-delay-ms 0;
	debounce-ms 10;
	highlight {
		corner-radius 8
		padding 16
		active-color "hsl(205, 0.6, 0.4)" // "hsl(205, 1.0, 0.55)"
		urgent-color "hsl(0, 0.5, 0.5)"
	}
}

cursor {
	xcursor-theme "Adwaita"
	// xcursor-size 24
}

// this will be ready soon
// include optional=true "system.kdl"
// include optional=true "nix.kdl"

include "system.kdl"