binds {
	// `niri msg action do-something`
}


input {
  // https://yalter.github.io/niri/Configuration:-Input
  
	keyboard {
		xkb {
		    // For more information, see xkeyboard-config(7).
		    options "compose:menu"
		}
		// numlock
	}

	touchpad {
		// off
		tap
		// dwt
		// dwtp
		// drag false
		// drag-lock
		// natural-scroll
		// accel-speed 0.2
		accel-profile "flat"
		scroll-method "two-finger"
		// disabled-on-external-mouse
	}

	mouse {
		// off
		// natural-scroll
		// accel-speed 0.2
		accel-profile "flat"
		// scroll-method "no-scroll"
	}

	trackpoint {
		// off
		// natural-scroll
		// accel-speed 0.2
		// accel-profile "flat"
		// scroll-method "on-button-down"
		// scroll-button 273
		// scroll-button-lock
		// middle-emulation
	}
}


// https://yalter.github.io/niri/Configuration:-Outputs
/- output "DP-1" {
	// off
	mode "1920x1080@60.000"
	scale 1
	// transform "normal" // normal, 90, 180, 270, flipped, flipped-90, flipped-180 and flipped-270.
	// position x=0 y=0 // 3840 at 2x scale means 1920
}

cursor {
	xcursor-theme "Adwaita"
	// xcursor-size 24
}