.theme-dark .messagelogger-edited {
    visibility: hidden;
    position: absolute;
}

.messagelogger-deleted :is(div, h1, h2, h3, p) {
    visibility: hidden;
    position: absolute;
}

svg.vc-trans-icon {
    width: 0;
}

.botTag__4211a {
    display: none;
}